<mat-grid-list cols="1" rowHeight="100vh">
  <mat-grid-tile>
    <mat-card class="login-card">
      <mat-card-header class="mb-1rem">
        <mat-card-title class="login-card-title">
          <mat-icon class="login-icon">login</mat-icon>
          Login
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="login-card-content">
        <form [formGroup]="loginUserForm">
          <mat-form-field class="w-full">
            <mat-label>Username </mat-label>
            <input type="text" formControlName="userName" name="userName" matInput maxlength="50">
            <mat-error>
              <val-whitespace [formGroup]="loginUserForm" data="userName" name="your username"></val-whitespace>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Password </mat-label>
            <input [type]="hide ? 'password' : 'text'" formControlName="password" name="password" matInput>
            <div class="mr-1rem" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </div>
            <mat-error>
              <val-whitespace [formGroup]="loginUserForm" data="password" name="your password"></val-whitespace>
            </mat-error>
          </mat-form-field>
          <button (click)="signIn()" [disabled]="loginUserForm.invalid" mat-raised-button class="mat-primary w-full"
            id="sign-in">Sign In</button>
        </form>
      </mat-card-content>
      <mat-card-footer class="login-card-footer">
        <p>Don't have an account yet? <span (click)="toSignUp()" class="login-sign-up" id="login-sign-up">Sign Up</span>
        </p>
      </mat-card-footer>

      <button (click)="increment()">Increment</button>
      <div>Current Count: {{ count$ | async }}</div>
      <button (click)="decrement()">Decrement</button>
      <button (click)="reset()">Reset Counter</button>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>