<mat-grid-list cols="1" rowHeight="100vh">
  <mat-grid-tile>
    <mat-card class="registration-card">
      <mat-card-header class="mb-1rem">
        <mat-card-title class="registration-card-title">
          <mat-icon class="registration-icon">app_registration</mat-icon>
          Registration
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="registration-card-content">
        <mat-stepper #stepper [animationDuration]="'500'">
          <mat-step [stepControl]="registrationUserForm">
            <form [formGroup]="registrationUserForm">
              <ng-template matStepLabel>Fill out your personal data</ng-template>
              <mat-form-field class="w-full mt-1rem">
                <mat-label>Full Name </mat-label>
                <input type="text" formControlName="fullName" name="fullName" matInput maxlength="50">
                <mat-error>
                  <val-lt-whitespace [formGroup]="registrationUserForm" data="fullName"
                    name="your fullname"></val-lt-whitespace>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>Username </mat-label>
                <input type="text" formControlName="userName" name="userName" matInput maxlength="50">
                <mat-error>
                  <val-whitespace [formGroup]="registrationUserForm" data="userName"
                    name="your username"></val-whitespace>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>Email Address </mat-label>
                <input type="email" formControlName="email" name="email" matInput maxlength="50">
                <mat-error>
                  <val-email [formGroup]="registrationUserForm" data="email" name="your email"></val-email>
                </mat-error>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="registrationUserForm">
            <form [formGroup]="registrationUserForm">
              <ng-template matStepLabel>Fill out your password</ng-template>
              <mat-form-field class="w-full mt-1rem">
                <mat-label>Password </mat-label>
                <input [type]="hide ? 'password' : 'text'" formControlName="password" name="password" matInput>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>
                  <val-whitespace [formGroup]="registrationUserForm" data="password"
                    name="your password"></val-whitespace>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>Confirm Password </mat-label>
                <input [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword"
                  name="confirmPassword" matInput>
                <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                  <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>
                  <val-whitespace [formGroup]="registrationUserForm" data="confirmPassword"
                    name="confirm password"></val-whitespace>
                </mat-error>
              </mat-form-field>
              <div class="register-button-group">
                <button mat-button matStepperPrevious>Back</button>
                <button (click)="signUp()" [disabled]="registrationUserForm.invalid" mat-raised-button
                  class="mat-primary" id="sign-up">Sign Up</button>
              </div>
            </form>
          </mat-step>
        </mat-stepper>
      </mat-card-content>
      <mat-card-footer class="registration-card-footer">
        <p>Already have an account. <span (click)="toSignIn()" class="registration-sign-in"
            id="registration-sign-in">Sign In</span></p>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>